* {
    box-sizing: border-box;
}

body {
    height: auto;
    color: white !important;
    background: rgb(134, 63, 182) !important;
}

.outer-container {
    transform: translate(-50%, -50%);
    width: 100%;
}

.card-container {
    width: 370px;
    height: 450px;
    background-size: cover;
    text-align: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    margin-right: 5%;
    margin-bottom: 10px;

    &:hover {
        .card-front-container {
            transform: rotateY(-180deg);
            transform-style: preserve-3d;
            transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        }

        .card-back-container {
            transform: rotateY(0deg);
            transform-style: preserve-3d;
            transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        }
    }
}


.card-front-container {
    background-size: cover;
    background-position: center;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform: rotateY(0deg);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        opacity: .5;
        background-color: #000;
        backface-visibility: hidden;
        border-radius: 10px;
    }

    .card-content {
        position: absolute;
        width: 95%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translateZ(60px) scale(0.94);
        z-index: 1;

        h3 {
            font-size: 4rem;
            position: relative;
            font-weight: bold;
            text-shadow: 0 0 5px #000;

            &::after {
                position: absolute;
                content: "";
                width: 100px;
                height: 3px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #fff;
                margin-top: 15%;
                box-shadow: 0 0 5px #000;
            }
        }

        p {
            font-size: 2rem;
            text-shadow: 0 0 5px #000;
            margin-top: 15%;

        }
    }
}




.card-back-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    background: url("https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExMTRsbTZ0YXplNGNsNDFuaTI5M3F5aGowM3F4NDUxYzY4ZHcwcnR5YiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/h58dtf5vTpjulO4M5o/giphy.gif");
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;

    .card-content {
        position: absolute;
        width: 95%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translateZ(60px) scale(0.94);
        z-index: 1;

        h3 {
            font-size: 4rem;
            position: relative;
            font-weight: bold;
            text-shadow: 0 0 5px #000;

            &::after {
                position: absolute;
                content: "";
                width: 100px;
                height: 3px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #fff;
                margin-top: 15%;
                box-shadow: 0 0 5px #000;
            }
        }

        p {
            font-size: 2rem;
            text-shadow: 0 0 5px #000;
            margin-top: 15%;
        }

        a {
            width: 35%;
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 200%;
            background: rgba(0, 0, 0, 0.9);
            border: none;
            border-radius: 2px;
            margin-top: 8%;
            transition: background, border, color, linear .5s;

            &:hover {
                background: rgba(0, 0, 0, 0.1);
                color: #000;
            }
        }
    }
}


@media (max-width: 830px) {
    .outer-container {
        transform: translate(-50%, -30%);
    }
}


button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }


    .btn {
    border: none;
    color: #000;
  }
  .btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .btn:hover {
    color: #000;
  }
  .btn:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .btn:active {
    top: 2px;
  }

a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
